// 颜色定义规范
$white = #ffffff
$header-background = #3c8dbc
$update-text = #2d8cf0
$logo-background = #367fa9

// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
